@font-face {
    font-family: ubuntu-bold;
    src: url(C:\Users\Anurag.Goel\Downloads\Webdev\kartavya\public\assets\fonts\Ubuntu-Bold.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(C:\Users\Anurag.Goel\Downloads\Webdev\kartavya\public\assets\fonts\Ubuntu-Regular.ttf);
}
@font-face {
    font-family: ubuntu-medium;
    src: url(C:\Users\Anurag.Goel\Downloads\Webdev\kartavya\public\assets\fonts\Ubuntu-Medium.ttf);
}
body{
    padding: 0;
    margin: 0;
}
.app{
    display: inline-flex;
    align-items: center;
    background-color: #96C9F4;
    height: 100vh;
    width: 100vw;
}
.main{
    display: inline-flex;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    height: 500px;
    width: 69%;
    margin: auto;
    font-family: ubuntu;
}

.form{
    width: 50%;
    justify-content: left;
    margin: 0 auto;
}
.form-content{
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content:space-between;
}
.form-body{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
}



.form-title{
    margin: 0 0 0.25rem
}

.form-description{
    color: grey;
    margin: 0;
    font-size: 1rem
}
.form-header{
    margin: 1rem 0 1rem
}



